
$background-color-body: rgba(112, 61, 87, 0.3);
$background-color-recipe-box: rgba(112, 61, 87, 0.5);
$background-color-recipe-heading: rgba(149, 113, 134, 0.6);
$background-color-recipe-body: rgba(217, 184, 196, 1);
$font-heading: 'Exo', sans-serif;
$font-recipe-name: 'PT Sans', sans-serif;
$font-recipe-ingredients: 'Roboto Condensed', sans-serif;