@import '_variables';

body{
	background: {
		image: url('../img/confectionary.png');		
	};
}

#backgroundColorLayer{
	background: $background-color-body;
	height: 100vh;	
}

#recipeBox{	
	margin: auto;
	margin-top: 50px;
	padding: 5px;
	background: $background-color-recipe-box;
}

a:hover{
	text-decoration: none !important;
}

textarea{
	height: 100px;
	width: 270px;
	resize: none;
}

#saveButton, #cancelButton, #editButton, #addButton{
	display: inline-block;
	margin: 5px;
}

#heading{
	font-family: $font-heading;	
}

.panel{
	&:hover{
		cursor: pointer;
	}
}

.panel-heading{
	background: $background-color-recipe-heading !important;
}

h4.panel-title{	
	font:{
		family: $font-recipe-name;
		size: 1.3em;
	}	
}

.panel-body{
	background: $background-color-recipe-body;
	li{
		font:{
			family: $font-recipe-ingredients;
			size: 1.2em;
		}
	}
}

@media only screen and (min-width: 992px){
	#recipeBox{
		width: 50%;
	}	
}