$font-heading: 'Exo', sans-serif;
$font-recipe-name: 'PT Sans', sans-serif;
$font-recipe-ingredients: 'Roboto Condensed', sans-serif;

#recipeBox{
	
}

a:hover{
	text-decoration: none !important;
}

textarea{
	height:100px;
	width:300px;
	resize: none;
}

#saveButton, #cancelButton, #editButton, #addButton{
	display: inline-block;
	margin: 5px;
}

#heading{
	font-family: $font-heading;
}

h4.panel-title{
	font:{
		family: $font-recipe-name;
		size: 1.3em;
	}
}

.panel-body li{
	font:{
		family: $font-recipe-ingredients;
		size: 1.2em;
	}
}

